<div class="container-fluid mt-5" style=" font-family: 'Urbanist', sans-serif;">
    <div class="row" style="margin-left: 5px; margin-right: 5px;">
        <!-- Large Card on the Left -->
        <div class="col-md-3">
            <div class="card" style="height: 525px; border:1px solid #ffffff;">
                <div class="card-body p-4">
                    <h5 class="card-title">welcome back</h5>
                    <h1 style="font-size: 50px; color: #004085;">{{patient?.name ?? 'User'}}</h1>
                </div>
                <div class="card-Ai">
                    <div class="card-body p-4">
                        <p>Hello I'm your AI Health Assistant how can I assist you today?</p>
                    </div>

                    <!-- AI Prompt Input Bar -->
                    <div class="ai-prompt-container">
                        <input type="text" [(ngModel)]="message" class="ai-prompt-input" placeholder="Type your message..."  (keydown.enter)="send()" />
                        <button (click)="send()" class="ai-prompt-button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                          </svg></button>
                    </div>

                   <!--<input type="text" [(ngModel)]="message" placeholder="Type your message..." (keydown.enter)="send()" />
                    <button (click)="send()">Send</button>-->





                </div>
            </div>
        </div>

        <!-- Right Side - Small Cards (4 in a row) -->
        <div class="col-md-9">
            <div class="row">
                <div class="col-3">
                    <div class="card-status">
                        <div class="header">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#004085"
                                    class="bi bi-heart-pulse" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053.918 3.995.78 5.323 1.508 7H.43c-2.128-5.697 4.165-8.83 7.394-5.857q.09.083.176.171a3 3 0 0 1 .176-.17c3.23-2.974 9.522.159 7.394 5.856h-1.078c.728-1.677.59-3.005.108-3.947C13.486.878 10.4.28 8.717 2.01zM2.212 10h1.315C4.593 11.183 6.05 12.458 8 13.795c1.949-1.337 3.407-2.612 4.473-3.795h1.315c-1.265 1.566-3.14 3.25-5.788 5-2.648-1.75-4.523-3.434-5.788-5" />
                                    <path
                                        d="M10.464 3.314a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.5a.5.5 0 0 0 0 1H4a.5.5 0 0 0 .416-.223l1.473-2.209 1.647 4.118a.5.5 0 0 0 .945-.049l1.598-5.593 1.457 3.642A.5.5 0 0 0 12 9h3.5a.5.5 0 0 0 0-1h-3.162z" />
                                </svg>
                            </div>
                            <div class="title">Blood Pressure</div>
                        </div>
                        <div class="value">
                            {{patientStats?.bloodPressure}} <span class="unit">mmHg</span>
                        </div>
                        <div class="status-container">
                            <div [ngClass]="{
                                'high': statusBloodPressure === 'High',
                                'low': statusBloodPressure === 'Low',
                                'normal': statusBloodPressure === 'Normal',
                            }"class="status">{{statusBloodPressure}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card-status">
                        <div class="header">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#004085"
                                    class="bi bi-capsule-pill" viewBox="0 0 16 16">
                                    <path
                                        d="M11.02 5.364a3 3 0 0 0-4.242-4.243L1.121 6.778a3 3 0 1 0 4.243 4.243l5.657-5.657Zm-6.413-.657 2.878-2.879a2 2 0 1 1 2.829 2.829L7.435 7.536zM12 8a4 4 0 1 1 0 8 4 4 0 0 1 0-8m-.5 1.042a3 3 0 0 0 0 5.917zm1 5.917a3 3 0 0 0 0-5.917z" />
                                </svg>
                            </div>
                            <div class="title">Blood Sugar</div>
                        </div>
                        <div class="value">{{patientStats?.bloodSugar}} <span class="unit">mg/dL</span></div>
                        <div class="status-container">
                            <div [ngClass]="{
                                'high': statusBloodSugar === 'High',
                                'low': statusBloodSugar === 'Low',
                                'normal': statusBloodSugar === 'Normal',
                            }"class="status">{{statusBloodSugar}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card-status">
                        <div class="header">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#004085"
                                    class="bi bi-person-standing" viewBox="0 0 16 16">
                                    <path
                                        d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M6 6.75v8.5a.75.75 0 0 0 1.5 0V10.5a.5.5 0 0 1 1 0v4.75a.75.75 0 0 0 1.5 0v-8.5a.25.25 0 1 1 .5 0v2.5a.75.75 0 0 0 1.5 0V6.5a3 3 0 0 0-3-3H7a3 3 0 0 0-3 3v2.75a.75.75 0 0 0 1.5 0v-2.5a.25.25 0 0 1 .5 0" />
                                </svg>
                            </div>
                            <div class="title">BMI</div>
                        </div>
                        <div class="value">{{patientStats?.bmi}} <span class="unit">kg/m²</span></div>
                        <div class="status-container">
                            <div [ngClass]="{
                                'high': statusBMI === 'High',
                                'low': statusBMI === 'Low',
                                'normal': statusBMI === 'Normal',
                            }"class="status">{{statusBMI}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card-status">
                        <div class="header">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#004085"
                                    class="bi bi-heart-pulse" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053.918 3.995.78 5.323 1.508 7H.43c-2.128-5.697 4.165-8.83 7.394-5.857q.09.083.176.171a3 3 0 0 1 .176-.17c3.23-2.974 9.522.159 7.394 5.856h-1.078c.728-1.677.59-3.005.108-3.947C13.486.878 10.4.28 8.717 2.01zM2.212 10h1.315C4.593 11.183 6.05 12.458 8 13.795c1.949-1.337 3.407-2.612 4.473-3.795h1.315c-1.265 1.566-3.14 3.25-5.788 5-2.648-1.75-4.523-3.434-5.788-5" />
                                    <path
                                        d="M10.464 3.314a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.5a.5.5 0 0 0 0 1H4a.5.5 0 0 0 .416-.223l1.473-2.209 1.647 4.118a.5.5 0 0 0 .945-.049l1.598-5.593 1.457 3.642A.5.5 0 0 0 12 9h3.5a.5.5 0 0 0 0-1h-3.162z" />
                                </svg>
                            </div>
                            <div class="title">Blood Count</div>
                        </div>
                        <div class="value">{{patientStats?.heartRate}} <span class="unit">g/dL</span></div>
                        <div class="status-container">
                            <div [ngClass]="{
                                'high': statusBloodCount === 'High',
                                'low': statusBloodCount === 'Low',
                                'normal': statusBloodCount === 'Normal',
                            }"class="status">{{statusBloodCount}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Bottom Medium Cards (2 side by side) -->
            <div class="row mt-3">
                <div class="col-7">
                    <div class="card-reports" style="height: 330px;"></div>
                </div>
                <div class="col-5">
                    <div class="card-reports" style="height: 330px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>