<div class="container-fluid" style=" font-family: 'Urbanist', sans-serif;">
    <div class="row">
        <div class="col-md-9 mt-5">
            <div class="container">
                <div class="card shadow" style="height: 525px;">
                    <div>
                        <div class="card-header bg-white">
                            <div class="row align-items-center">
                                <div class="col-md-6 d-flex justify-content-start">
                                    <div class="search-container">
                                        <input type="text" class="form-control search-input"
                                            placeholder="Search appointments..." [(ngModel)]="searchTerm">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="overflow-y: scroll; height: 400px;">
                        <div class="table-responsive">
                            <table class="table table-hover appointments-table">
                                <thead>
                                    <tr>
                                        <th scope="col">AId</th>
                                        <th scope="col">DId</th>
                                        <th scope="col">PId</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Mode</th>
                                        <th scope="col">See more</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let appointment of filteredAppointments()">
                                        <td style="color: #850000;">{{appointment.appointmentId}}</td>
                                        <td>{{appointment.doctorId}}</td>
                                        <td>{{appointment.patientId}}</td>
                                        <td>{{appointment.appointmentDate}}</td>
                                        <td>{{appointment.appointmentTime}}</td>
                                        <td>
                                            <span class="badge"
                                                [ngClass]="isOnline(appointment.location) ? 'badge badge-online' : 'badge badge-onsite'">
                                                {{ isOnline(appointment.location) ? 'Online' : 'Onsite' }}
                                            </span>
                                        </td>
                                        <td>
                                            <span class="badge zoom-effect" (click)="openAppointmentForm(appointment)"
                                                style="cursor: pointer;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                                    fill="#004085" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                                                    <path
                                                        d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                                                </svg>
                                            </span>
                                        </td>

                                        <td>
                                            <span class="badge" [ngClass]="getStatusClass(appointment.status)">
                                                {{ appointment.status.toLocaleLowerCase() }}
                                            </span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-3 mt-5 d-flex flex-column justify-content-end">
            <div class="card" style="height: 100px;border-radius: 10px; margin-bottom: 30px; margin-top: 5px;">
                <div class="card-body">
                    <h5 class="card-title">Total</h5>
                    <p class="mt-3" style="margin-left: 35px; font-size: 15px; color: #242b36;">There are
                        {{appointments.length}} total appointments</p>
                </div>
            </div>
            <div style="height: 525px;">

                <div class="container">
                    <div class="card calendar-card shadow">
                        <div class="calendar-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <button class="btn btn-nav"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                            height="16" fill="#0d326d" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                                        </svg></button>
                                </div>
                                <div class="col-6 text-center">
                                    <h2 class="month-year">March 2025</h2>
                                </div>
                                <div class="col text-end">
                                    <button class="btn btn-nav"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                            height="16" fill="#0d326d" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                                        </svg></button>
                                </div>
                            </div>
                        </div>

                        <div class="calendar-body">
                            <div class="calendar-weekdays">
                                <div class="weekday">Sun</div>
                                <div class="weekday">Mon</div>
                                <div class="weekday">Tue</div>
                                <div class="weekday">Wed</div>
                                <div class="weekday">Thu</div>
                                <div class="weekday">Fri</div>
                                <div class="weekday">Sat</div>
                            </div>

                            <div class="calendar-days">
                                <!-- February days -->
                                <div class="day other-month">23</div>
                                <div class="day other-month">24</div>
                                <div class="day other-month">25</div>
                                <div class="day other-month">26</div>
                                <div class="day other-month">27</div>
                                <div class="day other-month">28</div>

                                <!-- March days -->
                                <div class="day">1</div>
                                <div class="day">2</div>
                                <div class="day">3</div>
                                <div class="day">4</div>
                                <div class="day">5</div>
                                <div class="day">6</div>
                                <div class="day">7</div>
                                <div class="day">8</div>
                                <div class="day">9</div>
                                <div class="day">10</div>
                                <div class="day">11</div>
                                <div class="day">12</div>
                                <div class="day">13</div>
                                <div class="day">14</div>
                                <div class="day">15</div>
                                <div class="day">16</div>
                                <div class="day today">17</div>
                                <div class="day has-events">18
                                    <span class="event-dot"></span>
                                </div>
                                <div class="day has-events">19
                                    <span class="event-dot"></span>
                                    <span class="event-dot"></span>
                                </div>
                                <div class="day has-events">20
                                    <span class="event-dot"></span>
                                </div>
                                <div class="day">21</div>
                                <div class="day">22</div>
                                <div class="day">23</div>
                                <div class="day">24</div>
                                <div class="day">25</div>
                                <div class="day">26</div>
                                <div class="day">27</div>
                                <div class="day">28</div>
                                <div class="day">29</div>
                                <div class="day">30</div>
                                <div class="day">31</div>

                                <!-- April days -->
                                <div class="day other-month">1</div>
                                <div class="day other-month">2</div>
                                <div class="day other-month">3</div>
                                <div class="day other-month">4</div>
                                <div class="day other-month">5</div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>


    <div *ngIf="showPatientForm" class="modal-overlay" (click)="closeAppointmentForm()">
        <div class="modal-container" (click)="$event.stopPropagation()">
            <app-appointment-more-info-patient [selectedAppointment]="selectedAppointment"
                (closeForm)="closeAppointmentForm()"></app-appointment-more-info-patient>
        </div>
    </div>


</div>