<section class="jumbotron text-center hero-section">
    <div class="container">

        <h1 class="jumbotron-heading animated fadeInDown">MediGo</h1>
        <h2 class="animated fadeInUp">A new way to access healthcare</h2>
        <p class="lead text-muted animated fadeInUp">Introducing MediGo, a new way to access healthcare services powered
            by AI.</p>
        <p>
            <a href="#" class="btn btn-primary m-2 animated fadeInUp" id="getStarted">Get Started</a>
            <a href="#" class="btn btn-secondary m-2 animated fadeInUp">Learn More</a>
        </p>
        <div class="mt-5 d-flex justify-content-end animated fadeInUp">
            <a href="#" class="btn btn-secondary m-2 animated fadeInUp" id="Aibutton">Powered by AI</a>
        </div>

    </div>
</section>